@charset "UTF-8";
html, body{
    width: 99.5%;
	background-color: beige;
	padding: 0% 7%;
	position: center;
}

nav#list {
    margin: 0 auto;
    display: table;
    position: center;
}

nav#list ul {
    border: solid #ccc;
    border-width: 1px 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    overflow: hidden;
    position: center;
}

nav#list ul li {
    float: left;
    display: inline;
    position: center;
}

nav#list ul li a{
    display: inline-block;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    position: center;
}

nav#list ul li a:hover{
    background-color: turquoise;
    color: peachpuff;
    border-radius: 20px;
    position: center;
}



img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}

#mcd{
     position: center;
     width: 200px;
     border-radius: 100px;
 }

#pop{
    position: center;
    width: 200px;
    border-radius: 100px;
 }

#chi{
    position: center;
    width: 200px;
    border-radius: 100px;
 }

#kfc{
    position: center;
    width: 200px;
    border-radius: 100px;
 }